body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    justify-content: center;
    margin: 20px;
}

input, button {
    padding: 10px;
    margin: 5px;
}

.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book {
    background: white;
    margin: 10px;  
    padding: 14px;
    border-radius: 15px;
    text-align: center;
}

.book img {
    width: 120px;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
}